In [51]:
#importing libraries and loading dataset

import numpy as np
import pandas as pd

weather_data = pd.read_csv(r"C:\Users\Michal\Desktop\School\Bocconi\Courses\Business Analytics\ProbabilityAndStatistics-master\ProbabilityAndStatistics-master\Assignment_1\data\nycflights13\nycflights13_flights.csv", 
                           names=["year","month","day","dep_time","sched_dep_time","dep_delay","arr_time","sched_arr_time","arr_delay","carrier","flight","tailnum","origin","dest","air_time","distance","hour","minute","time_hour"],
                           sep = ",",
                           quotechar='"',
                           engine = "python",
                           skiprows = [0],
                          )
weather_data.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,"2013,1,1,517,515,2,830,819,11,""UA"",1545,""N1422...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2013,1,1,533,529,4,850,830,20,""UA"",1714,""N2421...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2013,1,1,542,540,2,923,850,33,""AA"",1141,""N619A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2013,1,1,544,545,-1,1004,1022,-18,""B6"",725,""N8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2013,1,1,554,600,-6,812,837,-25,""DL"",461,""N668...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN